{% extends 'main/../base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
    <h2>Welcome, {{ user.username }}!</h2>
    <p>This is your profile page.</p>
    
    {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail" style="max-width: 200px;">
    {% else %}
        <p>No profile picture uploaded.</p>
    {% endif %}

    <ul class="list-group mt-3">
        <li class="list-group-item"><strong>Username:</strong> {{ user.username }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
    </ul>
{% endblock %}
